{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
{% if edit %}
    <h3>Editer une catégorie</h3>
    {% else %}
    <h3>Ajouter une catégorie</h3>
{% endif %}
{{form(formAddCategory)}}

{% endblock %}
