{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<h2>
    <a class="btn btn-outline-light btn-lg" href="/register">Inscription</a>
</h2>

<h2>
    <a class="btn btn-outline-light btn-lg" href="/login">Connexion</a>
</h2>


{% endblock %}
