{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<h2>Bienvenue Ahmed</h2>

<p>Ce site à pour but de répertorier les sessions de l'entreprise X</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque tenetur alias minima cupiditate culpa, nulla saepe, incidunt commodi voluptatem eveniet repellat officia quos autem velit praesentium sunt ipsum blanditiis veniam.</p>

<h3>Listes des catégories</h3>
{% for category in categories %}
<a class="btn btn-sm btn-outline-light" href="{{ path('show_category', {'id': category.id} )}}">{{ category.categoryName }}</a>
<a href="{{ path('delete_category', {'id': category.id}) }}"><i class="fa-solid fa-trash-can-arrow-up"></i></a>
<br>
{% endfor %}
<p>
    <a class="btn btn-sm btn-outline-dark" href="{{path('add_category')}}">Ajouter une catégorie</a>
</p>
{% endblock %}
