{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<section class="home">
    <h2>Bienvenue</h2>

    <p>Ce site à pour but de répertorier les sessions de l'entreprise X</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque tenetur alias minima cupiditate culpa, nulla saepe, incidunt commodi voluptatem eveniet repellat officia quos autem velit praesentium sunt ipsum blanditiis veniam.</p>

    <h3>Catégories</h3>
    <div class="listCategories">
        {% for category in categories %}
        <div>
            <div class="category">
                <a class="btn btn-sm btn-outline-light" href="{{ path('show_category', {'id': category.id} )}}">{{ category.categoryName }}</a>
            </div>
            <div class="buttonsCategory">
                <a href="{{ path('delete_category', {'id': category.id}) }}"><i class="fa-solid fa-trash-can-arrow-up"></i></a>
            </div>
        </div>
        
        <br>
        {% endfor %}
        <p>
            <a class="btn btn-sm btn-outline-dark" href="{{path('add_category')}}">Ajouter une catégorie</a>
        </p> 
    </div>
</section>
{% endblock %}
