/* ALL */
body {
    background-color: grey;
}
a{
    text-decoration: none;
    color:black;
}
i{
    color: white;
}
/* HEADER */

nav{
    background-color: #545353;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* END HEADER */
/* MAIN */
/* HOME */
.home {
    height: 80vh;
    width: 100%;
}
.home p{
    width: 50%;
    text-align: left;
}
.home .listCategories{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.listCategories div{
    display: flex;
    justify-content: center;    
}
.listCategories .category{

}
/* END HOME */
/* END MAIN */