{% extends 'base.html.twig' %}

{% block title %}Ajouter un stagiaire{% endblock %}

{% block body %}
{% if edit %}
    <h3>Editer un stagiaire</h3>
    {% else %}
    <h3>Ajouter un stagiaire</h3>
{% endif %}
{{form(formAddStagiaire)}}

{% endblock %}
