{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
<h3>Registre des stagiaires</h3>
{% for stagiaire in stagiaires %}
    {{ stagiaire }} </br>
{% endfor %}
{% endblock %}
