{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
{% if edit %}
    <h3>Editer une session</h3>
    {% else %}
    <h3>Ajouter une session</h3>
{% endif %}
{{form(formAddSession)}}

{% endblock %}
