{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<h3>Registre des sessions</h3>
{% for session in sessions %}
    <a href="{{ path('show_session', {'id': session.id}) }}">{{ session }}</a> </br>
{% endfor %}
{% endblock %}
