{% extends 'base.html.twig' %}

{% block title %}Registre des formateurs{% endblock %}

{% block body %}
<h3>Registre des formateurs</h3>
{% for formateur in formateurs %}
    <a class="btn btn-sm btn-outline-light" href="{{ path('show_formateur', {'id': formateur.id}) }}">{{ formateur }}</a> 
    <a href="{{ path('delete_formateur', {'id': formateur.id}) }}"><i class="fa-solid fa-trash-can-arrow-up"></i></a>    
    </br>
{% endfor %}
<p>
    <a class="btn btn-sm btn-outline-dark" href="{{path('add_formateur')}}">Ajouter un formateur</a>
</p>
{% endblock %}
