{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

<h3>Information sur le formateur {{ formateur }}</h3>

<h3>
    Sessions  :
</h3>
{% for session in formateur.sessions %}
    <a class="btn btn-sm btn-outline-light" href="{{ path('show_session', {'id': session.id}) }}">{{ session }}</a></br>
{% endfor %}


{% endblock %}
