{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

<h3>Information sur le formateur {{ formateur }}</h3>
{% for module in category.modules %}
<a class="btn btn-sm btn-outline-light" href="{{ path('show_module', {'id': module.id}) }}">{{module}}</a> <br>
{% endfor %}


{% endblock %}
